.filters-filter {
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  background-color: beige;
  margin:10px 20px;

  .wrapper-filter {
    width: 100%;
    padding: 20px;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .filter {
      display: flex;
      align-items: center;
      border: 0px solid lightgray;
      padding: 3px;
      justify-content: space-between;
      width: 100%;

      .form-select{
        display: flex;
        align-items: center;
        margin: 20px 5px;
        padding: 10px;
        justify-content: space-between;
        width: 100%;
      }

      input, select {
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 1px solid lightgray;
        width:100%;

        &::placeholder {
          font-size: 12px;
        }
      }
    }


    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;

        .icon {
          font-size: 20px;
        }

        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        .counter {
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
    }
  }
}
